/* .cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
  }
  
  .row {
    clear: both;
  }
  
  .grid {
    margin: 20px;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  } */


/* #gridd{
    display: 'grid';
    background-color: greenyellow;
    grid-template-columns: 'repeat(10; 40px)';
    grid-template-rows: 'repeat(10; 40px)';
    gap: '1px';
    border: '1px solid black';
    width: '410px';
    position: absolute;
} */